.accueil-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.accueil-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.accueil-navbar {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.accueil-left-side {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.accueil-navlink {
  display: contents;
}
.accueil-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
  transition-duration: .3s;
  transition-property: transform;
}
.accueil-image:hover {
  transform: scale(1.5);
}
.accueil-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.accueil-icon {
  width: 36px;
  height: 36px;
  text-decoration: none;
}
.accueil-links-container {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.accueil-link-c-p-t-s {
  transition: 0.3s;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.accueil-link-c-p-t-s:hover {
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius24);
}
.accueil-link-missions {
  transition: 0.3s;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.accueil-link-missions:hover {
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius24);
}
.accueil-link-projets {
  transition: 0.3s;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.accueil-link-projets:hover {
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius24);
}
.accueil-link-actus {
  transition: 0.3s;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.accueil-link-actus:hover {
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius24);
}
.accueil-link-p-s {
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: TripleUnit;
  text-decoration: none;
}
.accueil-link-p-s:hover {
  border: none;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
}
.accueil-link-patient {
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.accueil-link-patient:hover {
  border: none;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
}
.accueil-right-side {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.accueil-link-contact {
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.accueil-link-contact:hover {
  color: var(--dl-color-success-300);
  border-color: var(--dl-color-success-300);
  border-style: double;
  border-width: 5px;
}
.accueil-cta-btn {
  color: var(--dl-color-gray-white);
  opacity: 0.9;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  margin-right: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #333333;
}
.accueil-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.accueil-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.accueil-navlink2 {
  display: contents;
}
.accueil-image1 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.accueil-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accueil-icon02 {
  width: 24px;
  height: 24px;
}
.accueil-links-container1 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.accueil-link-accueil {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.accueil-link-c-p-t-s1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.accueil-text04 {
  text-decoration: none;
}
.accueil-text05 {
  text-decoration: none;
}
.accueil-link-missions1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.accueil-link-projets1 {
  text-decoration: none;
}
.accueil-link-actus1 {
  text-decoration: none;
}
.accueil-link-p-s1 {
  text-decoration: none;
}
.accueil-link-patient1 {
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.accueil-link-patient1:hover {
  border: none;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius24);
}
.accueil-link-contact1 {
  text-decoration: none;
}
.accueil-c-p-t-s {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 89.00%,rgb(50, 106, 0) 99.00%);
}
.accueil-content-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.accueil-hero-text {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accueil-heading {
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.accueil-text11 {
  color: var(--dl-color-gray-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.accueil-cta-btn1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.accueil-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-missions {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 89.00%,rgb(50, 106, 0) 99.00%);
}
.accueil-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.accueil-text12 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.accueil-cta-btn2 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.accueil-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.accueil-features-card {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.accueil-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-icon04 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.accueil-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accueil-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.accueil-text14 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.accueil-features-card1 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.accueil-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-icon07 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.accueil-text-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accueil-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.accueil-text15 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.accueil-features-card2 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.accueil-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-icon10 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.accueil-text-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accueil-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.accueil-text16 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.accueil-features-card3 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.accueil-icon-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-icon13 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.accueil-text-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accueil-heading4 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.accueil-text17 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.accueil-features-card4 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.accueil-icon-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-icon16 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.accueil-text-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accueil-heading5 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.accueil-text18 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.accueil-features-card5 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.accueil-icon-container5 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-icon19 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.accueil-text-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accueil-heading6 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.accueil-text19 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.accueil-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-projets {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 89.00%,rgb(50, 106, 0) 99.00%);
}
.accueil-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.accueil-text20 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.accueil-text21 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.accueil-cta-btn3 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.accueil-cards-container1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.accueil-service-card {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.accueil-text22 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.accueil-text23 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.accueil-service-card1 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.accueil-text24 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.accueil-text25 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.accueil-service-card2 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.accueil-text26 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.accueil-text27 {
  color: var(--dl-color-gray-700);
  text-align: left;
  margin-bottom: var(--dl-space-space-fourunits);
}
.accueil-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-pros {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 89.00%,rgb(50, 106, 0) 99.00%);
}
.accueil-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.accueil-text28 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.accueil-text32 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.accueil-cta-btn4 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.accueil-cards-container2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.accueil-team-card {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.accueil-avatar-container {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-icon22 {
  width: 48px;
  height: 48px;
}
.accueil-name {
  margin-bottom: var(--dl-space-space-unit);
}
.accueil-position {
  color: var(--dl-color-gray-700);
}
.accueil-team-card1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.accueil-avatar-container1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-icon24 {
  width: 48px;
  height: 48px;
}
.accueil-name1 {
  margin-bottom: var(--dl-space-space-unit);
}
.accueil-position1 {
  color: var(--dl-color-gray-700);
}
.accueil-team-card2 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.accueil-avatar-container2 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-icon26 {
  width: 48px;
  height: 48px;
}
.accueil-name2 {
  margin-bottom: var(--dl-space-space-unit);
}
.accueil-position2 {
  color: var(--dl-color-gray-700);
}
.accueil-team-card3 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.accueil-avatar-container3 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-icon28 {
  width: 48px;
  height: 48px;
}
.accueil-name3 {
  margin-bottom: var(--dl-space-space-unit);
}
.accueil-position3 {
  color: var(--dl-color-gray-700);
}
.accueil-team-card4 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.accueil-avatar-container4 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-icon30 {
  width: 48px;
  height: 48px;
}
.accueil-name4 {
  margin-bottom: var(--dl-space-space-unit);
}
.accueil-position4 {
  color: var(--dl-color-gray-700);
}
.accueil-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.accueil-actus {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 89.00%,rgb(50, 106, 0) 99.00%);
}
.accueil-heading-container3 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.accueil-text33 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.accueil-text34 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.accueil-cards-container3 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.accueil-left-section {
  width: 50%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.accueil-video-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accueil-video {
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accueil-play-container {
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  right: auto;
  width: 50px;
  bottom: auto;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.accueil-icon32 {
  fill: var(--dl-color-gray-500);
  width: 48px;
  height: 48px;
}
.accueil-content-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.accueil-heading7 {
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.accueil-text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.accueil-text36 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.accueil-info-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.accueil-stats-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.accueil-messages-container {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
}
.accueil-icon34 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.accueil-views-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.accueil-icon36 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.accueil-right-section {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: space-between;
}
.accueil-card {
  width: 48%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: space-between;
}
.accueil-image2 {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accueil-content-container2 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.accueil-text39 {
  text-align: left;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.accueil-info-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.accueil-stats-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.accueil-views-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.accueil-icon38 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.accueil-card1 {
  width: 48%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: space-between;
}
.accueil-image3 {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accueil-content-container3 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.accueil-text41 {
  text-align: left;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.accueil-info-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.accueil-stats-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.accueil-views-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.accueil-icon40 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.accueil-card2 {
  width: 48%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.accueil-image4 {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accueil-content-container4 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.accueil-text43 {
  text-align: left;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.accueil-info-container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.accueil-stats-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.accueil-views-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.accueil-icon42 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.accueil-card3 {
  width: 48%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.accueil-image5 {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accueil-content-container5 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.accueil-text45 {
  text-align: left;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.accueil-info-container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.accueil-stats-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.accueil-views-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.accueil-icon44 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.accueil-cta-btn5 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.accueil-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .accueil-c-p-t-s {
    flex-direction: column-reverse;
  }
  .accueil-content-container {
    flex-direction: column-reverse;
  }
  .accueil-hero-text {
    width: 80%;
  }
  .accueil-cards-container2 {
    justify-content: center;
  }
  .accueil-cards-container3 {
    flex-direction: column;
  }
  .accueil-left-section {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .accueil-right-section {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .accueil-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .accueil-icon {
    fill: var(--dl-color-gray-white);
  }
  .accueil-links-container {
    display: none;
  }
  .accueil-heading-container {
    width: 100%;
  }
  .accueil-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .accueil-features-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .accueil-features-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .accueil-features-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .accueil-features-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .accueil-features-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .accueil-features-card5 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .accueil-heading-container1 {
    width: 100%;
  }
  .accueil-cards-container1 {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .accueil-service-card {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .accueil-service-card1 {
    width: 65%;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .accueil-service-card2 {
    width: 65%;
  }
  .accueil-heading-container2 {
    width: 100%;
  }
  .accueil-heading-container3 {
    width: 100%;
  }
  .accueil-cards-container3 {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .accueil-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .accueil-links-container1 {
    display: flex;
  }
  .accueil-c-p-t-s {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .accueil-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .accueil-hero-text {
    width: 100%;
  }
  .accueil-missions {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .accueil-features-card {
    width: 100%;
  }
  .accueil-features-card1 {
    width: 100%;
  }
  .accueil-features-card2 {
    width: 100%;
  }
  .accueil-features-card3 {
    width: 100%;
  }
  .accueil-features-card4 {
    width: 100%;
  }
  .accueil-features-card5 {
    width: 100%;
  }
  .accueil-projets {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .accueil-service-card {
    width: 100%;
  }
  .accueil-service-card1 {
    width: 100%;
  }
  .accueil-service-card2 {
    width: 100%;
  }
  .accueil-pros {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .accueil-text28 {
    text-align: center;
  }
  .accueil-actus {
    padding-top: var(--dl-space-space-fiveunits);
  }
  .accueil-text33 {
    text-align: center;
  }
  .accueil-video {
    height: 200px;
  }
  .accueil-card {
    width: 100%;
  }
  .accueil-card1 {
    width: 100%;
  }
  .accueil-card2 {
    width: 100%;
  }
  .accueil-card3 {
    width: 100%;
  }
}
