.c-p-t-s-container {
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.c-p-t-s-c-p-t-s {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 89.00%,rgb(50, 106, 0) 99.00%);
}
.c-p-t-s-content-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
}
.c-p-t-s-hero-text {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.c-p-t-s-heading {
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.c-p-t-s-text {
  color: var(--dl-color-gray-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.c-p-t-s-a-savoir {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.c-p-t-s-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.c-p-t-s-text01 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.c-p-t-s-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.c-p-t-s-features-card {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.c-p-t-s-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-icon {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.c-p-t-s-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.c-p-t-s-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.c-p-t-s-text02 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.c-p-t-s-features-card1 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.c-p-t-s-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-icon03 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.c-p-t-s-text-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.c-p-t-s-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.c-p-t-s-text03 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.c-p-t-s-features-card2 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.c-p-t-s-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-icon06 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.c-p-t-s-text-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.c-p-t-s-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.c-p-t-s-text04 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.c-p-t-s-features-card3 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.c-p-t-s-icon-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-icon09 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.c-p-t-s-text-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.c-p-t-s-heading4 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.c-p-t-s-text05 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.c-p-t-s-features-card4 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.c-p-t-s-icon-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-icon12 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.c-p-t-s-text-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.c-p-t-s-heading5 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.c-p-t-s-text06 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.c-p-t-s-features-card5 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.c-p-t-s-icon-container5 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-icon15 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.c-p-t-s-text-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.c-p-t-s-heading6 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.c-p-t-s-text07 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.c-p-t-s-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-bureau {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.c-p-t-s-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.c-p-t-s-text08 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.c-p-t-s-text09 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.c-p-t-s-cards-container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.c-p-t-s-team-card {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.c-p-t-s-avatar-container {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-icon18 {
  width: 48px;
  height: 48px;
}
.c-p-t-s-name {
  margin-bottom: var(--dl-space-space-unit);
}
.c-p-t-s-position {
  color: var(--dl-color-gray-700);
}
.c-p-t-s-team-card1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.c-p-t-s-avatar-container1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-icon20 {
  width: 48px;
  height: 48px;
}
.c-p-t-s-name1 {
  margin-bottom: var(--dl-space-space-unit);
}
.c-p-t-s-position1 {
  color: var(--dl-color-gray-700);
}
.c-p-t-s-team-card2 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.c-p-t-s-avatar-container2 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-icon22 {
  width: 48px;
  height: 48px;
}
.c-p-t-s-name2 {
  margin-bottom: var(--dl-space-space-unit);
}
.c-p-t-s-position2 {
  color: var(--dl-color-gray-700);
}
.c-p-t-s-team-card3 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.c-p-t-s-avatar-container3 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-icon24 {
  width: 48px;
  height: 48px;
}
.c-p-t-s-name3 {
  margin-bottom: var(--dl-space-space-unit);
}
.c-p-t-s-position3 {
  color: var(--dl-color-gray-700);
}
.c-p-t-s-team-card4 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.c-p-t-s-avatar-container4 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.c-p-t-s-icon26 {
  width: 48px;
  height: 48px;
}
.c-p-t-s-name4 {
  margin-bottom: var(--dl-space-space-unit);
}
.c-p-t-s-position4 {
  color: var(--dl-color-gray-700);
}
.c-p-t-s-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .c-p-t-s-c-p-t-s {
    flex-direction: column-reverse;
  }
  .c-p-t-s-content-container {
    flex-direction: column-reverse;
  }
  .c-p-t-s-hero-text {
    width: 80%;
  }
  .c-p-t-s-cards-container1 {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .c-p-t-s-heading-container {
    width: 100%;
  }
  .c-p-t-s-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .c-p-t-s-features-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .c-p-t-s-features-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .c-p-t-s-features-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .c-p-t-s-features-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .c-p-t-s-features-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .c-p-t-s-features-card5 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .c-p-t-s-heading-container1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .c-p-t-s-c-p-t-s {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .c-p-t-s-content-container {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .c-p-t-s-hero-text {
    width: 100%;
  }
  .c-p-t-s-a-savoir {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .c-p-t-s-features-card {
    width: 100%;
  }
  .c-p-t-s-features-card1 {
    width: 100%;
  }
  .c-p-t-s-features-card2 {
    width: 100%;
  }
  .c-p-t-s-features-card3 {
    width: 100%;
  }
  .c-p-t-s-features-card4 {
    width: 100%;
  }
  .c-p-t-s-features-card5 {
    width: 100%;
  }
  .c-p-t-s-bureau {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .c-p-t-s-text08 {
    text-align: center;
  }
}
