.encours81espace-p-s-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.encours81espace-p-s-espace-p-s {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 89.00%,rgb(50, 106, 0) 99.00%);
}
.encours81espace-p-s-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.encours81espace-p-s-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.encours81espace-p-s-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.encours81espace-p-s-features-card {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.encours81espace-p-s-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.encours81espace-p-s-icon {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.encours81espace-p-s-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.encours81espace-p-s-heading {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.encours81espace-p-s-text1 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.encours81espace-p-s-features-card1 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.encours81espace-p-s-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.encours81espace-p-s-icon03 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.encours81espace-p-s-text-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.encours81espace-p-s-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.encours81espace-p-s-text2 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.encours81espace-p-s-features-card2 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.encours81espace-p-s-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.encours81espace-p-s-icon06 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.encours81espace-p-s-text-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.encours81espace-p-s-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.encours81espace-p-s-text3 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.encours81espace-p-s-features-card3 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.encours81espace-p-s-icon-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.encours81espace-p-s-icon09 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.encours81espace-p-s-text-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.encours81espace-p-s-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.encours81espace-p-s-text4 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.encours81espace-p-s-features-card4 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.encours81espace-p-s-icon-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.encours81espace-p-s-icon12 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.encours81espace-p-s-text-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.encours81espace-p-s-heading4 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.encours81espace-p-s-text5 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.encours81espace-p-s-features-card5 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.encours81espace-p-s-icon-container5 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.encours81espace-p-s-icon15 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.encours81espace-p-s-text-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.encours81espace-p-s-heading5 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.encours81espace-p-s-text6 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
@media(max-width: 767px) {
  .encours81espace-p-s-heading-container {
    width: 100%;
  }
  .encours81espace-p-s-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .encours81espace-p-s-features-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .encours81espace-p-s-features-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .encours81espace-p-s-features-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .encours81espace-p-s-features-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .encours81espace-p-s-features-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .encours81espace-p-s-features-card5 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 479px) {
  .encours81espace-p-s-espace-p-s {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .encours81espace-p-s-features-card {
    width: 100%;
  }
  .encours81espace-p-s-features-card1 {
    width: 100%;
  }
  .encours81espace-p-s-features-card2 {
    width: 100%;
  }
  .encours81espace-p-s-features-card3 {
    width: 100%;
  }
  .encours81espace-p-s-features-card4 {
    width: 100%;
  }
  .encours81espace-p-s-features-card5 {
    width: 100%;
  }
}
