.numrosutiles-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.numrosutiles-num-utiles {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 97.00%,rgb(50, 106, 0) 99.00%);
}
.numrosutiles-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.numrosutiles-buttons {
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: center;
}
.numrosutiles-cta-btn {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-left: var(--dl-space-space-fiveunits);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.numrosutiles-cta-btn1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-left: var(--dl-space-space-fiveunits);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.numrosutiles-link {
  text-decoration: none;
}
.numrosutiles-urgences-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.numrosutiles-heading {
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
}
.numrosutiles-icon {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  margin-right: var(--dl-space-space-tripleunit);
}
.numrosutiles-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.numrosutiles-text-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.numrosutiles-text05 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.numrosutiles-soutien-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.numrosutiles-heading2 {
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
}
.numrosutiles-icon03 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  margin-right: var(--dl-space-space-tripleunit);
}
.numrosutiles-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.numrosutiles-text-container1 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.numrosutiles-text31 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.numrosutiles-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.numrosutiles-contact {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 89.00%,rgb(50, 106, 0) 99.00%);
}
.numrosutiles-text83 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.numrosutiles-content-container {
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.numrosutiles-form-container {
  width: 40%;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
}
.numrosutiles-heading4 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.numrosutiles-nom {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.numrosutiles-email {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.numrosutiles-message {
  width: 100%;
  border: none;
  height: 140px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.numrosutiles-cta-btn2 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.numrosutiles-locations-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.numrosutiles-location-1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.numrosutiles-heading5 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.numrosutiles-adresse {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.numrosutiles-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.numrosutiles-email1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.numrosutiles-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.numrosutiles-link1 {
  text-decoration: none;
}
.numrosutiles-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.numrosutiles-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
  .numrosutiles-form-container {
    width: 60%;
  }
  .numrosutiles-locations-container {
    flex-wrap: wrap;
  }
  .numrosutiles-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .numrosutiles-buttons {
    width: 100%;
  }
  .numrosutiles-urgences-container {
    align-items: center;
    flex-direction: column;
  }
  .numrosutiles-heading {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .numrosutiles-soutien-container {
    align-items: center;
    flex-direction: column;
  }
  .numrosutiles-heading2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .numrosutiles-content-container {
    width: 100%;
    flex-direction: column;
  }
  .numrosutiles-form-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .numrosutiles-locations-container {
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .numrosutiles-num-utiles {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .numrosutiles-heading {
    width: 100%;
  }
  .numrosutiles-heading2 {
    width: 100%;
  }
  .numrosutiles-content-container {
    padding-left: 0px;
  }
  .numrosutiles-form-container {
    padding: var(--dl-space-space-tripleunit);
    margin-right: 0px;
  }
  .numrosutiles-heading4 {
    text-align: center;
  }
  .numrosutiles-location-1 {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
