.professionnels-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.professionnels-professionnels {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 89.00%,rgb(50, 106, 0) 99.00%);
}
.professionnels-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.professionnels-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.professionnels-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.professionnels-features-card {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.professionnels-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.professionnels-icon {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.professionnels-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.professionnels-heading {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.professionnels-text03 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.professionnels-features-card1 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.professionnels-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.professionnels-icon03 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.professionnels-text-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.professionnels-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.professionnels-text04 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.professionnels-features-card2 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.professionnels-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.professionnels-icon06 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.professionnels-text-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.professionnels-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.professionnels-text05 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.professionnels-features-card3 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.professionnels-icon-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.professionnels-icon09 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.professionnels-text-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.professionnels-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.professionnels-text06 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.professionnels-features-card4 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.professionnels-icon-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.professionnels-icon12 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.professionnels-text-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.professionnels-heading4 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.professionnels-text07 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.professionnels-features-card5 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.professionnels-icon-container5 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.professionnels-icon15 {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
.professionnels-text-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.professionnels-heading5 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.professionnels-text08 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.professionnels-bureau {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.professionnels-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.professionnels-text09 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.professionnels-text10 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.professionnels-cards-container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.professionnels-team-card {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.professionnels-avatar-container {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.professionnels-icon18 {
  width: 48px;
  height: 48px;
}
.professionnels-name {
  margin-bottom: var(--dl-space-space-unit);
}
.professionnels-position {
  color: var(--dl-color-gray-700);
}
.professionnels-team-card1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.professionnels-avatar-container1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.professionnels-icon20 {
  width: 48px;
  height: 48px;
}
.professionnels-name1 {
  margin-bottom: var(--dl-space-space-unit);
}
.professionnels-position1 {
  color: var(--dl-color-gray-700);
}
.professionnels-team-card2 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.professionnels-avatar-container2 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.professionnels-icon22 {
  width: 48px;
  height: 48px;
}
.professionnels-name2 {
  margin-bottom: var(--dl-space-space-unit);
}
.professionnels-position2 {
  color: var(--dl-color-gray-700);
}
.professionnels-team-card3 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.professionnels-avatar-container3 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.professionnels-icon24 {
  width: 48px;
  height: 48px;
}
.professionnels-name3 {
  margin-bottom: var(--dl-space-space-unit);
}
.professionnels-position3 {
  color: var(--dl-color-gray-700);
}
.professionnels-team-card4 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
}
.professionnels-avatar-container4 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.professionnels-icon26 {
  width: 48px;
  height: 48px;
}
.professionnels-name4 {
  margin-bottom: var(--dl-space-space-unit);
}
.professionnels-position4 {
  color: var(--dl-color-gray-700);
}
.professionnels-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .professionnels-cards-container1 {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .professionnels-heading-container {
    width: 100%;
  }
  .professionnels-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .professionnels-features-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .professionnels-features-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .professionnels-features-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .professionnels-features-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .professionnels-features-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .professionnels-features-card5 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .professionnels-heading-container1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .professionnels-professionnels {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .professionnels-features-card {
    width: 100%;
  }
  .professionnels-features-card1 {
    width: 100%;
  }
  .professionnels-features-card2 {
    width: 100%;
  }
  .professionnels-features-card3 {
    width: 100%;
  }
  .professionnels-features-card4 {
    width: 100%;
  }
  .professionnels-features-card5 {
    width: 100%;
  }
  .professionnels-bureau {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .professionnels-text09 {
    text-align: center;
  }
}
